{% extends 'base.html.twig' %}

{% block title %}Générateur d'idée cadeau
{% endblock %}

{% block body %}

	<section class="bg-white dark:bg-gray-900">
		<div class="max-w-7xl px-4 py-8 mx-auto text-center lg:py-16 lg:px-12">

			<h1 class="mb-4 text-4xl font-extrabold leading-none tracking-tight text-gray-900 md:text-5xl lg:text-6xl dark:text-white">Pas d'idée de cadeaux pour Noël ou un anniversaire ?</h1>
			<p class="mb-3 text-lg text-body md:text-xl">Donnez simplement l'age et le sexe de la personne à qui vous voulez faire un cadeau et nous vous fournirons simplement une liste de cadeaux.</p>
		</section>
	{% endblock %}
